<div>
  <ul class="listcontact">
    <li class="ref">
      <a title="github" href="https://github.com/danielchk"><img src="../assets/github.png" alt="github" class="contactimgs"></a>
      /danielchk
    </li>
    <li class="ref">
      <a title="linkedin" href="https://www.linkedin.com/in/daniel-alexander-chica-echeverri-037a68204/"><img src="../assets/linkedin.png" alt="github" class="contactimgs"></a>
      /daniel-alexander-chica-echeverri
    </li>
    <li class="ref">
      <a title="whatsapp" href="https://web.whatsapp.com/"><img src="../assets/whatsapp.png" alt="whatsapp" class="contactimgs"></a>
      (604) 3122545575
    </li>
    <li class="ref">
      <a title="email" href="mailto:dchicadev1990@gmail.com"><img src="../assets/email.png" alt="email" class="contactimgs"></a>
      dchicadev1990@gmail.com
    </li>
  </ul>
</div>
