<div class="contenttext">
    <h1 class="titlecontent">About Me</h1>
    <p class="description">
      I'm a programmer with experience in managing different logistic systems for more that 3 years.
      I consider it's essential to adapt to technologies and their responsive use to be more effective
      and have our sensitive data secure. We are in the middle of the fourth industrial revolution, it advance on a large
      scale and speed and I want to be part of it, I trust in the technologies and their advances to create an increasingly
      better world and find solutions to problems in which now we have no solution but that programming will help us to be
      solved in the future
    </p>
    <h1 class="titlecontent">My Hobbies</h1>
    <p class="description">
      <img src="../assets/guitar.png" alt="Guitar Logo" class="hobbyimg">
      <img src="../assets/videogame.png" alt="Videogame Logo" class="hobbyimg">
      <img src="../assets/gym.png" alt="Gym Logo" class="hobbyimg">
      <img src="../assets/book.png" alt="Book Logo" class="hobbyimg">
    </p>

</div>
