.button-row button,
.button-row a {
  position: center;
}
.home {
  margin-top: 20px;
  margin-left: 50px;
}
.profile {
  margin-top: 20px;
  margin-left: 48px;
}
.contact {
  margin-top: 20px;
  margin-left: 45px;
}
.link {
  margin-top: 20px;
  margin-left: 50px;
}
