<div>
  <h1 class="titleprofile">
    Work Experience
  </h1>
  <p class="titlejobs">Touristic Guide, Explora Park, Medellín</p>
  <p class="descriptionprofile">
    <b>February 2015 - February 2016</b><br><br>
    I performed different functions as a tourist guide in the
    park areas, leading groups of people or individually, both in
    English and Spanish. I acquired different communication
    and leadership skills.
  </p>
  <p class="titlejobs">Cellar Assistant, Grupo Éxito, Envigado</p>
  <p class="descriptionprofile">
    <b>Marzo 2016 - Marzo 2019</b><br><br>
    I performed various tasks associated with its management,
    such as inventories, transportation and personnel to
    achieve greater efficiency
  </p>
  <p class="titlejobs">Cellar Assistant, Koba Colombia, Medellín</p>
  <p class="descriptionprofile">
    <b>March 2019 - December 2019</b><br><br>
    Various Tasks in the picking sector such as product
    selection and freight transport
  </p>
</div>
