.sidenavbar {
  width: auto;
  height: auto;
  margin: 10px;
  background-color: bisque;
}
.navbar {
  width: 210px;
  background-color:black;
}
.imageprofile{
  margin-top: 20px;
  margin-left: 20px;
  width: 170px;
  height: 270px;
}

